<div class="container homeData">
  <div class="row">
    <div class="col-md-8 col-12 offset-md-2 introduction py-4 px-3">
      <h2 class="text-center">Anuj Soni</h2>
      <p>
        I'm a <b>Software Engineer</b> at 64 Squares Pvt. Ltd. working on
        Angular as the technology stack.
      </p>
      <p>
        I'm also currently working on React, Redux, Angular, MaterialUI,
        Bootstrap, HTML, CSS and Javascript.
      </p>
      <p>
        You can find me spending a lot of free time in reading blogs on React
        and Javascript.
      </p>
    </div>
  </div>

  <div class="row socialLinks">
    <div class="col-12">
      <i class="fab fa-facebook-f"></i>
    </div>
  </div>
</div>
